<label>
    Simulate data loading:
    <input type="checkbox" #simulateDataLoading>
</label>

<table>
    <ng-container [ngTemplateOutlet]="data ? rowTemplate : emptyTemplate" [ngTemplateOutletContext]="{rows: data}"></ng-container>
</table>

<ng-template #rowTemplate let-rows="rows">
    <ng-template ngFor let-row [ngForOf]="rows">
        <tr app-row [row]="row" [simulateDataLoading]="simulateDataLoading.checked"></tr>
        <ng-container [ngTemplateOutlet]="row.showChildRows ? rowTemplate : emptyTemplate" [ngTemplateOutletContext]="{rows: row.childRows}"></ng-container>
    </ng-template>
</ng-template>

<ng-template #emptyTemplate></ng-template>
