<label>
    Simulate data loading:
    <input type="checkbox" #simulateDataLoading>
</label>

<div class="grid-container">
    <table #table>
        <thead #header>
        <tr [class.fixed-pos]="isHeaderPositionFixed">
            <th style="visibility: hidden"></th>
            <th *ngFor="let title of dataSet.columnTitles">{{title}}</th>
        </tr>
        </thead>
        <tbody>
        <ng-container [ngTemplateOutlet]="dataSet.rows ? rowTemplate : emptyTemplate"
                      [ngTemplateOutletContext]="{rows: dataSet.rows}"></ng-container>
        </tbody>
    </table>
</div>

<ng-template #rowTemplate let-rows="rows">
    <ng-template ngFor let-row [ngForOf]="rows">
        <tr app-row [row]="row" [simulateDataLoading]="simulateDataLoading.checked"></tr>
        <ng-container [ngTemplateOutlet]="row.showChildRows ? rowTemplate : emptyTemplate"
                      [ngTemplateOutletContext]="{rows: row.childRows}"></ng-container>
    </ng-template>
</ng-template>

<ng-template #emptyTemplate></ng-template>
